.home {
    width: 100%;
    background-color: #FFF;
    background-image: linear-gradient(315deg, #E6E6E6 0%, #FFFFFC 74%);
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }

    &__content {
        flex: 1 1;
        padding-top: 5rem;
        .console {
            width: 95%;
            min-height: 12vh;
            background: black;
            border-radius: 5px;
            border-color: rgba(255, 255, 255, 0.8);
            color: #fff;
            padding: 5px 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .copy {
                &__container {
                    display: flex;
                    align-items: center;
                }

                &__btn {
                    padding: 5px;
                    border-radius: 5px;
                    font-weight: 700;
                    background-color: #EEEEEE;
                    border-color: #9A9A9A;

                    &:hover {
                        background-color: #CACACA;
                        border-color: #FFEFEF;
                    }
                }

                &__message {
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 2em;
                    width: 100%;
                }
            }
            .typer {
                color: #fff;
                white-space: pre-wrap;
            }
        }
    }
}