@mixin response($breakpoint) {
  $breakpoint: (
    'xs': (max-width: 575px),
    'sm': (min-width: 576px) and (max-width: 767px),
    'as': (max-width: 768px),
    'ab': (min-width: 769px),
    'am': (max-width: 991px),
    'fm': (min-width: 992px),
    'md': (min-width: 768px) and (max-width: 991px),
    'lg': (min-width: 992px) and (max-width: 1199px),
    'md-lg': (min-width: 768px) and (max-width: 1199px),
    'xl': (min-width: 1200px)
  )
}

@mixin text {
  color: $color-text;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin: 0;
  transition: 0.1s color;
}

@mixin triangle($dir, $size, $color) {
  border: $size transparent solid;
  @if ($dir== 'top' or $dir== 'up') {
    border-bottom-color: $color;
  } @else if ($dir== 'right' or $dir== 'after') {
    border-left-color: $color;
  } @else if ($dir== 'bottom' or $dir== 'down') {
    border-top-color: $color;
  } @else if ($dir== 'left' or $dir== 'before') {
    border-right-color: $color;
  }
}